/* You can add global styles to this file, and also import other style files */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.body-central{
	margin: 0.5rem 25px 1rem 25px;
}

.side-nav li h5, .side-nav li b{
    padding: 0 23.5px 0 31px;
}
 
/* Input colors */
.input-field .prefix.active{
    color: #009688;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label
{
  color: #009688;
}
.input-field input[type=text]:focus,
.input-field input[type=password]:focus
{
  border-bottom: 1px solid #009688;
  box-shadow: 0 1px 0 0 #009688;
}

.invalid input {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.invalid label,.invalid  i, .errorlist, .danger {
    color: #F44336;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #009688;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #009688;
    border-bottom: 2px solid #009688;
}

#tiny{
    font-size: 1rem;
}

a{
    color: #009688;
}

/* Nav Bar */
.side-nav{
	z-index:2;
}

nav{
	z-index:9;
}

#sidenav-overlay{
	z-index:1;
}

#menu > ul{
    padding-top:64px;
}

#menu a{
    color:white;
}

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body{
    background-color: #212121 !important;
}

/* Login */
.login{
    padding: 25px;
}

.login a,.login label{
    color:white;
}

