{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Eliminar Usuario{% endblock %}
{% block content %}
    <h4>Borrar usuario <b>{{object.username}}</b></h4><hr>
    <div class="center">
        <form method="post">
            {% csrf_token %}
            <p>Si en realidad deseas borrar este registro da click en:</p>
            <button type="submit" class="btn waves-effect red"/>Borrar </button>
        </form><br>
    </div>
    <a type="button" class="btn waves-effect teal" href="{% url 'user_list' %}"> Regresar </a>
	
{% endblock %}