{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Editar Usuario{% endblock %}
{% block content %}
	<form action="" method="post">
		{% csrf_token %}

	    <div class="input-field {% if form.username.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">account_circle</i>
            {{ form.username }}
            <label for="icon_prefix {{ form.username.auto_id }}">Nombre de Usuario</label>
            {% include 'base.forms.errors.html' with form_errors=form.username.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>

        <div class="input-field {% if form.email.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">mail</i>
            {{ form.email }}
            <label for="icon_prefix {{ form.email.auto_id }}">Correo</label>
            {% include 'base.forms.errors.html' with form_errors=form.email.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>

        <div class="input-field {% if form.first_name.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">description</i>
            {{ form.first_name }}
            <label for="icon_prefix {{ form.first_name.auto_id }}">Nombre</label>
            {% include 'base.forms.errors.html' with form_errors=form.first_name.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>

        <div class="input-field {% if form.last_name.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">description</i>
            {{ form.last_name }}
            <label for="icon_prefix {{ form.last_name.auto_id }}">Apellido</label>
            {% include 'base.forms.errors.html' with form_errors=form.last_name.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>

        <div class="input-field {% if form.password.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">lock</i>
            {{ form.password }}
            <label for="icon_prefix {{ form.password.auto_id }}">Contraseña</label>
            {% include 'base.forms.errors.html' with form_errors=form.password.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>

        <div class="input-field {% if form.password_repeat.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">lock</i>
            {{ form.password_repeat }}
            <label for="icon_prefix {{ form.password_repeat.auto_id }}">Repita la Contraseña</label>
            {% include 'base.forms.errors.html' with form_errors=form.password_repeat.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>

        <div class="center">
        	<a type="button" class="btn waves-effect teal" href="{% url 'user_list' %}">Regresar</a>
	    	<button class="btn waves-effect teal" type="submit">Actualizar</button>
		</div>
	</form>
{% endblock %}