{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Listado de Usuarios{% endblock %}
{% block content %}
	<h1 class="center">Usuarios</h1><hr>
    {% for user in object_list %}
        <div class="card">
            <div class="card-content">
                <span class="card-title"><b>Nombre de usuario: </b>{{ user.username }}</span>
                <ul>
                	<li><b>Correo: </b>{{ user.email }}</li>
                	<li><b>Nombre: </b>{{ user.first_name }}</li>
                	<li><b>Apellido: </b>{{ user.last_name }}</li>
                    <li><b>Activo: </b>{% if user.is_active %} Si {% else %} No {% endif %}</li>
                </ul>
            </div>
            <div class="card-action">
                <a type="button" class="btn waves-effect teal" href="{% url 'user_edit' user.id %}">
                    <i class="material-icons left">edit</i> Editar
                </a>
                <a type="button" class="btn waves-effect red" href="{% url 'user_delete' user.id %}">
                    <i class="material-icons left">delete</i> Eliminar
                </a>
            </div>
        </div>
    {% empty %}
        <h3>No existen consultas.</h3>
    {% endfor %}
    {% include 'base.paginator.html' with paginator=page_obj %}
    <div style="padding-bottom: 50px;">
        <a type="button" class="btn waves-effect teal" href="{% url 'inicio' %}">Regresar</a>
    </div>
{% endblock %}