{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="content center">
    <form id="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-field {% if form.usuario.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">account_circle</i>
            {{ form.usuario }}
            <label for="icon_prefix {{ form.usuario.auto_id }}">Usuario</label>
            {% include 'base.forms.errors.html' with form_errors=form.usuario.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>
        
        <div class="input-field {% if form.usuario.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">lock</i>
            {{ form.contrasena }}
            <label for="icon_prefix {{ form.contrasena.auto_id }}">Contraseña</label>
            {% include 'base.forms.errors.html' with form_errors=form.usuario.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>
        
        <div class="row">
            <p class="center">
                {{form.remember_me}}
                <label for="id_remember_me">{{form.remember_me.label}}</label>
            </p>
        </div>
        <div>
            <button type="submit" class="btn waves-effect teal">Entrar</button>
        </div>
        </div>
    </form>
</div>
{% endblock %}