<h4 class="center">Escanear Cuenta</h4>
<div class="row">
    <div class="col m9 s9">
        <input type="text" name="cuenta" placeholder="Usuario de Twitter" [(ngModel)]="account">
    </div>
    <div class="col m3 s3">
    <button (click)="search()" class="btn waves-effect teal darken-4">
        <i class="tiny material-icons prefix">search</i> Buscar
    </button>
    </div>
</div>

<div class="row center">
  <div class="preloader-wrapper small active" *ngIf="loading">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="user_info">

   
  <div class="col s12 m12 center">

    <div class="card">

      <div class="card-image">
        <img src="{{user_info.profile_image_url}}">
        <span class="card-title">{{user_info.user}}</span>
      </div>

      <div class="card-content">

         <div *ngIf="user_info.description">
          <h5>Descripción</h5>
          <ul class="collection">
            <li class="collection-item " >
              {{user_info.description}}
            </li>
          </ul>
        </div>

        <div *ngIf="user_info.location">
          <h5>Ubicación</h5>
          <ul class="collection">
            <li class="collection-item " >
              {{user_info.location}}
            </li>
          </ul>
        </div>

        <div  class="row">
          <div class="col m4" *ngIf="user_info.friends_count">
            <h5>Amigos</h5>
              <ul class="collection">
                <li class="collection-item " >
                  {{user_info.friends_count}}
                </li>
                <li class="collection-item">
                 
                    <button (click)="searchFriends()" class="btn-floating btn-large waves-effect teal  darken-4">
                    <i class="tiny material-icons prefix">search</i> 
                    </button>
                    <div class="row center" *ngIf="following_loading">
                      <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                            <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                      </div>
                </li>
                </ul>
            </div>
          <div class="col m4" *ngIf="user_info.followers_count">
            <h5>Seguidores</h5>
              <ul class="collection">
                <li class="collection-item" >
                  {{user_info.followers_count}}
                </li>
                <li class="collection-item">
                    
                  <button (click)="searchFollower()" class="btn-floating btn-large waves-effect teal  darken-4">
                    <i class="tiny material-icons prefix">search</i>
                  </button>
                  <div class="row center" *ngIf="follow_loading">
                      <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                            <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                </li>
                </ul>
              </div>
        </div>
        
        <div *ngIf="user_info.statuses_count">
                <h5>Tweets, ReTweets o Comentarios</h5>
                  <ul class="collection">
                    <li class="collection-item " >
                      {{user_info.statuses_count}}
                    </li>
                    <li>
                      <input type="number" name="count" placeholder="Numero de publicaciones" [(ngModel)]="count">
                      <button (click)="searchPosts()" class="btn-floating btn-large waves-effect teal  darken-4">
                        <i class="tiny material-icons prefix">search</i> 
                    </button>
                    <div class="row center" *ngIf="posts_loading">
                      <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                            <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </li>
                    </ul>
          </div>


      </div>

    </div>
  </div>
            
</div>
<div  class="row"  *ngIf="msj">
  <div class="col s12 m12 center" >

    <div class="card">
      <div class="card-content">
      <div *ngIf="msj">
          <h5>Información</h5>
          <ul class="collection">
            <li class="collection-item " [innerHTML]="msj">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>