<footer class="page-footer grey darken-4">
    <div class="">
        <div class="center white-text">
            <p>
                <b>GoApps Web</b> <span id="year-info-develop"></span>
            </p>
        </div>
    </div>
</footer>