<nav class="grey darken-4">
  <div class="nav-wrapper">
    <a class="brand-logo teal-text" href="#!">···</a>
    {% if request.user.is_authenticated %}
    <a href="#" data-activates="slide-out" class="button-collapse white-text"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#!" class="dropdown-button" data-activates="dropdown1" data-beloworigin="true">Bienvenido <b>{{request.user.username}}</b> <i class="material-icons right">arrow_drop_down</i></a></li>
      <ul id='dropdown1' class='dropdown-content' data-belloworigin="true">
        <li><a href="">Usuarios</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </ul>
    <a href="#" class="right not-button" data-activates="notification-out" >
      <i class="material-icons">notifications</i>
    </a> 
    {% else %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Bienvenido <b>Anónimo</b></a></li>
      </ul>
    {% endif %}
  </div>
</nav>