{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Inicio{% endblock %}
{% block content %}
	<div class="row">
      <div class="col s12 m12">
        <a type="button" class="btn waves-effect teal" href="{% url 'user_create' %}">
          <i class="material-icons left">add</i> Registrar Usuario
        </a>
        <div class="card">
          <div class="card-content">
            <span class="card-title">Listado de Usuarios</span>
          </div>
          <div class="card-action">
          	<a href="{% url 'user_list' %}" class="btn waves-effect teal">Ver
          	</a>
          </div>  	
        </div>
      </div>
    </div>
{% endblock %}