<h4 class="center">Escanear Cuenta</h4>
<div class="row">
	<div class="col m9 s9">
		<input type="text" name="cuenta" placeholder="Nombre de Facebook" [(ngModel)]="account">
	</div>
	<div class="col m3 s3">
	<button (click)="search()" class="btn waves-effect teal darken-4">
		<i class="tiny material-icons prefix">search</i> Buscar
	</button>
	</div>
</div>

<div class="row center">
  <div class="preloader-wrapper small active" *ngIf="loading">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="user_info">

  <div class="col s12 m12 center">

    <div class="card">

      <div class="card-image">
        <img src="{{user_info.profile_picture}}" class="responsive-img">
        <span class="card-title">{{user_info.username}}</span>
      </div>

      <div class="card-content">

        <div *ngIf="user_info.works?.length > 0">
          <h5>Trabajos</h5>
          <ul class="collection">
            <li class="collection-item " *ngFor="let work of user_info.works">
              <div [innerHTML]="work"></div>
            </li>
          </ul>
        </div>

        <div *ngIf="user_info.education?.length > 0">
          <h5>Educación</h5>
          <ul class="collection">
            <li class="collection-item " *ngFor="let edu of user_info.education">
              <b>{{edu}}</b>
            </li>
          </ul>
        </div>

        <div *ngIf="user_info.living?.length > 0">
          <h5>Localización</h5>
          <ul class="collection">
            <li class="collection-item " *ngFor="let live of user_info.living">
              <b>{{live}}</b>
            </li>
          </ul>
        </div>

        <div *ngIf="user_info.basic_info?.length > 0">
          <h5>Información Básica</h5>
          <ul class="collection">
            <li class="collection-item " *ngFor="let basic of user_info.basic_info">
              <b>{{basic.basic}}: {{basic.description}}</b>
            </li>
          </ul>
        </div>

        <div *ngIf="user_info.family?.length > 0">
          <h5>Familiar</h5>
          <ul class="collection">
            <li class="collection-item " *ngFor="let member of user_info.family">
              <b>{{member}}</b>
            </li>
          </ul>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Publicaciones</span>
          </div>
          <div class="card-action">
            <input type="text" class="datepicker" [materializeParams]="[{format: 'dd/mm/yyyy'}]"
              materialize="pickadate" [(ngModel)]="init_date">
            <input type="text" class="datepicker" [materializeParams]="[{format: 'dd/mm/yyyy'}]"
              materialize="pickadate" [(ngModel)]="end_date">
            <div class="row center" *ngIf="post_loading">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            <h4 *ngIf="post_count" class="center">{{post_count}}</h4>
            <button (click)="post_search()" class="btn waves-effect teal darken-4">
              <i class="tiny material-icons prefix">chat</i> Buscar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col s6 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Amigos</span>
          </div>
          <div class="card-action">
            <div class="row center" *ngIf="friend_loading">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            <h4 *ngIf="friend_count" class="center">{{friend_count}}</h4>
            <button (click)="friend_search()" class="btn waves-effect teal darken-4">
              <i class="tiny material-icons prefix">people</i> Buscar
            </button>
          </div>
        </div>
      </div>

      <div class="col s6 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Fotos</span>
          </div>
          <div class="card-action">
            <div class="row center" *ngIf="photo_loading">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            <h4 *ngIf="photo_count" class="center">{{photo_count}}</h4>
            <button (click)="photo_search()" class="btn waves-effect teal darken-4">
              <i class="tiny material-icons prefix">photo</i> Buscar
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
            
</div>

<div class="row" *ngIf="error_msj">

  <div class="col s12 m12 center">

    <div class="card">

      <div class="card-content">
        {{error_msj}}
      </div>
    </div>
  </div>
</div>