<h4 class="center">Buscar Cuenta</h4>
<div class="row">
	<div class="col m9 s9">
		<input type="text" name="cuenta" placeholder="Nombre de Facebook" [(ngModel)]="account">
	</div>
	<div class="col m3 s3">
	<button (click)="searchUser()" class="btn waves-effect teal darken-4">
		<i class="tiny material-icons prefix">search</i> Buscar
	</button>
	</div>
</div>

<div class="row" *ngIf="user">

  <div class="row">

      <div class="col m6 s6">
        <div class="card">
          <div class="card-image">
            <img src="{{user.img}}" class="responsive-img">
            <span class="card-title">{{user.username}}</span>
          </div>
        </div>
      </div>

      <div class="col m6 s6">
        <div class="card" style="max-height:435px;overflow: scroll;">
          <div class="card-content">
            <div class="row" *ngFor="let photo of photos">
              <img src="{{photo.url}}" class="responsive-img">
            </div>
            <div class="more_photo"></div>
            <div class="row center" *ngIf="photo_more">
              <button (click)="more_photos()" class="btn waves-effect teal darken-4">
                Más Fotos
              </button>
            </div>
          </div>
        </div>
      </div>

  </div>

  <div class="row">

      <div class="col m6 s6">
        <div class="card" style="max-height:435px;overflow: scroll;">
          <div class="card-content">
            <ul class="collection">
              <li class="collection-item" *ngFor="let friend of friends">
                {{friend.contact.name}}
              </li>
              <div class="more_friends"></div>
            </ul>
            <div class="row center" *ngIf="friend_more">
              <button (click)="more_friends()" class="btn waves-effect teal darken-4">
                Más Amigos
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col m6 s6">
        <div class="card" style="max-height:435px;overflow: scroll;">
          <div class="card-content">
            <ul class="collection">
              <li class="collection-item" *ngFor="let post of posts">
                {{post.historia}}
                <b>Reacciones: </b>{{post.reaction}}<br/>
                <small>{{post.fecha_creacion}}</small>
              </li>
              <div class="more_post"></div>
            </ul>
            <div class="row center" *ngIf="post_more">
              <button (click)="load_posts()" class="btn waves-effect teal darken-4">
                Más Publicaciones
              </button>
            </div>
          </div>
        </div>
      </div>

  </div>


</div>