<h4 class="center">Buscar Cuenta</h4>
<div class="row">
    <div class="col m9 s9">
        <input type="text" name="" me="cuenta" placeholder="Nombre de cuenta Twitter" [(ngModel)]="account">
    </div>
    <div class="col m3 s3">
    <button (click)="searchUser()" class="btn waves-effect teal darken-4">
        <i class="tiny material-icons prefix">search</i> Buscar
    </button>
    </div>
</div>
<div class="row" *ngIf="user">

  <div class="row">

      <div class="col m6 s6">
        <div class="card">
          <div class="card-image">
            <img src="{{user.img}}" class="responsive-img">
            <span class="card-title">{{user.username}}</span>
          </div>
        </div>
      </div>
      
      <div class="col m6 s6">
      <h5>Follower y Followings</h5>
        <div class="card" style="max-height:435px;overflow: scroll;">
          <div class="card-content">
            <ul class="collection">
              <li class="collection-item" *ngFor="let friend of friends">
                
              <div class="card-panel teal" *ngIf="friend.contact.tipo == 'Followers'">
                    <p>Follow</p>
                    <span class="white-text">{{friend.contact.name}}
                    </span>
                </div>
                <div class="card-panel blue lighten-1" *ngIf="friend.contact.tipo == 'Followings'">
                    <p>Following</p>
                    <span class="white-text">{{friend.contact.name}}
                    </span>
                </div>
              </li>
              <div class="more_friends"></div>
            </ul>
            <div class="row center" *ngIf="friend_more">
              <button (click)="more_friends()" class="btn waves-effect teal darken-4">
                Más Contactos
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col m12 s12">
      <h5>Tweets, Retweets y Respuestas</h5>
        <div class="card" style="max-height:435px;overflow: scroll;">
          <div class="card-content">
            <ul class="collection">
              <li class="collection-item" *ngFor="let post of posts">
                {{post.user.username}}
                <div class="card horizontal">
                      <div class="card-image" *ngIf="post.img">
                        <img src="{{post.img}}">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                        <h5> Tipo de post: </h5> {{post.historia}}
                          <p>{{post.mensaje}}</p>
                        </div>
                        <div class="card-action">
                            <i class="material-icons">thumb_up</i> {{post.reaction}}
                            <i class="material-icons">screen_share</i> {{post.reaction}}
                        </div>
                      </div>
                    </div>
              </li>
              <div class="more_post"></div>
            </ul>
            <div class="row center" *ngIf="post_more">
              <button (click)="more_posts()" class="btn waves-effect teal darken-4">
                Más Publicaciones
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>