<body class="black white-text">
    <div class="container center">
        <div class="card grey darken-4 login">
            <h4>ScanSocialNet</h4><br/>
            <form materialize>
                <div>
                    <div class="input-field">
                        <i class="tiny material-icons prefix">account_circle</i>
                        <input type="text" name="usuario" [(ngModel)]="username">
                        <label for="icon_prefix">Usuario</label>
                    </div>
                    
                    <div class="input-field">
                        <i class="tiny material-icons prefix">lock</i>
                        <input type="password" name="constrasena" [(ngModel)]="password">
                        <label for="icon_prefix">Contraseña</label>
                    </div>
                    
                    <div class="row">
                        <p class="center">
                            <input type="checkbox" id="id_remember_me">
                            <label for="id_remember_me">Recordarme</label>
                        </p>
                    </div>
                    <div>
                        <button (click)="login()" class="btn waves-effect teal darken-4">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>