<div class="center">

	<h4>Configuración</h4>

	<h5>Facebook</h5>

	<div class="row">

		<div class="col m6">

			<div class="input-field">
		        <i class="tiny material-icons prefix">account_circle</i>
		        <input type="text" name="facebook_user" [(ngModel)]="facebook_user">
		        <label for="icon_prefix">Usuario de Facebook</label>
			</div>

		</div>

		<div class="col m6">

			<div class="input-field">
		        <i class="tiny material-icons prefix">lock</i>
		        <input type="password" name="facebook_password" [(ngModel)]="facebook_password">
		        <label for="icon_prefix">Contraseña de Facebook</label>
			</div>

		</div>

		<button (click)="register_facebook()" class="btn waves-effect teal darken-4">Guardar</button>

	</div>

	<h5>Twitter</h5>

	<div class="row">

		<div class="col m6">

			<div class="input-field">
		        <i class="tiny material-icons prefix">lock_open</i>
		        <input type="text" name="twitter_consumer_key" [(ngModel)]="twitter_consumer_key">
		        <label for="icon_prefix">Llave del Consumidor (consumer_key)</label>
			</div>

		</div>

		<div class="col m6">

			<div class="input-field">
		        <i class="tiny material-icons prefix">lock</i>
		        <input type="password" name="twitter_consumer_secret" [(ngModel)]="twitter_consumer_secret">
		        <label for="icon_prefix">Llave Secreta del Consumidor (consumer_secret)</label>
			</div>

		</div>

		<div class="col m6">

			<div class="input-field">
		        <i class="tiny material-icons prefix">lock_open</i>
		        <input type="text" name="twitter_access_token" [(ngModel)]="twitter_access_token">
		        <label for="icon_prefix">Token de Acceso (access_token)</label>
			</div>

		</div>

		<div class="col m6">

			<div class="input-field">
		        <i class="tiny material-icons prefix">lock</i>
		        <input type="password" name="twitter_access_token_secret" [(ngModel)]="twitter_access_token_secret">
		        <label for="icon_prefix">Token Secreto de Acceso (access_token_secret)</label>
			</div>

		</div>

		<button (click)="register_twitter()" class="btn waves-effect teal darken-4">Guardar</button>

	</div>

	<h5>Palabras de peligro</h5>

	<small>En esta sección se regsitra el listado de palabras que definen a un usuario como
		peligroso, estas palabras serán buscadas en publicaciones y fotos.</small>

	<div class="row">

		<div class="col m12">
			<div class="input-field">
				<label>Palabras</label>
		        <tag-input [(ngModel)]="danger_words" placeholder='Escriba y pulse enter'></tag-input>
			</div>
		</div>
		<br/>

		<button (click)="register_dangerwords()" class="btn waves-effect teal darken-4">Guardar</button>

	</div>

</div>