<body class="grey lighten-4">
    <nav class="grey darken-4">
      <div class="nav-wrapper">
        <a class="brand-logo teal-text" href="#!">···</a>
        <a href="#" data-activates="slide-out" class="button-collapse white-text"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <main>
        <div id="menu">
            <ul id="slide-out" class="side-nav fixed black white-text">
                <div class="brand">
                    <li><h5>Bienvenido a ScanSocialNet</h5></li>
                </div>
                <li class="no-padding">
                    <div>
                    <li><a id="pointer" routerLink="/home">Inicio</a></li>
                    </div>
                    <ul materialize="collapsible" class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Facebook<i class="material-icons white-text">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a id="pointer" [routerLink]="['/home',{outlets:{content:'facebook/scan'}}]"
                                        >Escanear Cuenta</a></li>
                                    <li><a id="pointer" [routerLink]="['/home',{outlets:{content:'facebook/search'}}]">Ver Datos</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="collapsible-header">Twitter<i class="material-icons white-text">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a id="pointer" [routerLink]="['/home',{outlets:{content:'twitter/scan'}}]">Escanear Cuenta</a></li>
                                    <li><a id="pointer" [routerLink]="['/home',{outlets:{content:'twitter/search'}}]">Ver Datos</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="collapsible-header">Gráficos<i class="material-icons white-text">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a id="pointer" [routerLink]="['/home',{outlets:{content:'graph/general'}}]">General</a></li>
                                    <li><a id="pointer" [routerLink]="['/home',{outlets:{content:'friend/graph'}}]">Amigos</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-panel">
            <div class="row">
                <div class="col m6">
                    <h5>ScanSocialNet</h5>
                </div>
                <div class="col m6 right-align">
                    <a id="pointer" [routerLink]="['/home',{outlets:{content:'account'}}]">
                        <i class="tiny material-icons">account_circle</i>Cuenta</a>
                    <a id="pointer" [routerLink]="['/home',{outlets:{content:'config'}}]">
                        <i class="tiny material-icons">settings</i>Configuración</a>
                    <a href="#!"><i class="tiny material-icons">help_outline</i></a>
                    <a (click)="logout()" id="pointer"><i class="tiny material-icons">power_settings_new</i></a>
                </div>
            </div>
        </div>
        <div class="card-panel body-central">
            <router-outlet name="content"></router-outlet>
        </div>
    </main>
    <footer class="page-footer grey darken-4">
        <div class="">
            <div class="center white-text">
                <p>
                    <b>GoApps Web</b> <span id="year-info-develop"></span>
                </p>
            </div>
        </div>
    </footer>
</body>