<h4 class="center">Mi Cuenta</h4>

<div class="row">

	<div class="col m12 s12">
		<label for="icon_prefix">Nombre de Usuario</label>
		<input type="text" name="username" [(ngModel)]="username" readonly="readonly">
	</div>

	<div class="col m12 s12">
		<label for="icon_prefix">Correo</label>
		<input type="text" name="mail" [(ngModel)]="mail" readonly="readonly">
	</div>

	<div class="col m12 s12" *ngIf="first_name">
		<label for="icon_prefix">Nombre</label>
		<input type="text" name="first_name" [(ngModel)]="first_name" readonly="readonly">
	</div>

	<div class="col m12 s12" *ngIf="last_name">
		<label for="icon_prefix">Apellido</label>
		<input type="text" name="last_name" [(ngModel)]="last_name" readonly="readonly">
	</div>

	<div class="col m12 s12">
		<label for="icon_prefix">Fecha en la que unió</label>
		<input type="text" name="joined" [(ngModel)]="joined" readonly="readonly">
	</div>

</div>
