<h4 class="center">Buscar Cuenta</h4>
<div class="row">
	<div class="col m9 s9">
		<input type="text" name="cuenta" placeholder="Nombre de Facebook" [(ngModel)]="account">
	</div>
	<div class="col m3 s3">
	<button (click)="drawNetwork()" class="btn waves-effect teal darken-4">
		<i class="tiny material-icons prefix">search</i> Buscar
	</button>
	</div>
</div>

<div class="row center">
  <div class="preloader-wrapper small active" *ngIf="loading">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div id="mynetwork"></div>
</div>
