<h4 class="center">Buscar Cuenta</h4>
<div class="row">
	<div class="col m9 s9">
		<input type="text" name="cuenta" placeholder="Nombre de Cuenta" [(ngModel)]="account">
	</div>
	<div class="col m3 s3">
		<button (click)="drawnGraphics()" class="btn waves-effect teal darken-4">
			<i class="tiny material-icons prefix">search</i> Buscar
		</button>
	</div>
</div>

<div class="center">

  <div class="row">
    <div class="preloader-wrapper small active" *ngIf="loading_friends">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div *ngIf="user_reactions?.length > 0">
    	<h5 class="center">Porcentaje de interacción entre amigos</h5>
    	<div class="row" *ngFor="let reaction of user_reactions">
        <div class="col m6 s6">{{reaction.name}}</div>
        <div class="col m4 s4">
  			  <div class="progress">
  			      <div class="determinate" [ngStyle]="{'width': reaction.percent+'%'}"></div>
  			  </div>
  		  </div>
  		  <div class="col m2 s2">{{reaction.percent}}%</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="preloader-wrapper small active" *ngIf="loading_danger">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div *ngIf="(danger | json) != '{}'">
      <h5 class="center">Rango de Peligro del Usuario</h5>
      <div class="row">
        <div class="col m4 s4">{{account}}</div>
        <div class="col m8 s8">

          <div *ngIf="danger.post_data?.length > 0">
            <div class="col m9 s9">
              <div class="progress grey lighten-4">
                  <div class="determinate" [ngClass]="danger_post_color" 
                  [ngStyle]="{'width': danger_post_percent+'%'}"></div>
              </div>
            </div>
            <div class="col m3 s3">{{danger_post_percent}}%</div>
          </div>

          <div *ngIf="danger.photo_data?.length > 0">
            <div class="col m9 s9">
              <div class="progress" [ngStyle]="{'color': danger_photo_color}">
                  <div class="determinate" [ngStyle]="{'width': danger_photo_percent+'%'}"></div>
              </div>
            </div>
            <div class="col m3 s3">{{danger_photo_percent}}%</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="search_it">
      <h5 class="center">Gráfico de Actividad</h5>
      <div class="col m6">
        <label>Fecha Inicio</label>
        <input type="text" class="datepicker" [materializeParams]="[{format: 'dd/mm/yyyy'}]"
        materialize="pickadate" [(ngModel)]="init_date" placeholder="Fecha desde">
      </div>
      <div class="col m6">
        <label>Fecha Fin</label>
        <input type="text" class="datepicker" [materializeParams]="[{format: 'dd/mm/yyyy'}]"
        materialize="pickadate" [(ngModel)]="end_date" placeholder="Fecha hasta">
      </div>
      <div class="col m12">
        <button (click)="obtainPostDate()" class="btn waves-effect teal darken-4">
          <i class="tiny material-icons prefix">search</i> Buscar
        </button>
      </div>
    </div>


    <div class="preloader-wrapper small active" *ngIf="loading_post">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div class="col m12" [ngStyle]="{'display': select_date?.length > 0  ? '':'none'}">
      <div class="col m12">
          <select #sema_anio materialize="material_select" [materializeSelectOptions]="select_date" (change)="setSemanaAnio(sema_anio.value, this.object_series)">
            <option value="">Seleccione semana - año</option>
            <option *ngFor="let sem_anio of select_date; let i = index" value="{{i}}">{{sem_anio}}
            </option>
          </select>
          Se muestra la Semana y año: {{post_semana_anio}}
      </div>
      <div [chart]="chart"></div>
    </div>
  </div>

</div>